.summary-container {
  display: flex;
  flex-direction: row;
  margin: 0 60px;

  .summary-text {
    margin-right: 20px;
  }

  .buy-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    h3 {
      margin-right: 20px;
    }

    button {
      width: 100px;
      height: 44px;
    }
  }

  .game-screenshots {
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 50px;
      max-width: 600px;
    }
  }
}
