nav {
  display: flex;
  justify-content: flex-end;
  a {
    padding: 1em;
    text-decoration: none;
  }
  margin-right: 3%;
  margin-top: 2%;
}

#nav-img {
  width: 3%;
  height: 3%;
  border-radius: 50%;
}
